:root {
  /* Colors: */
  --primary-gradient: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
  --neutral-dark-blue: hsl(228, 56%, 26%);
  --neutral-dark-blue-2: hsl(229, 57%, 11%);
  --neutral-pale-blue: hsl(243, 100%, 93%);
  --neutral-grayish-blue: hsl(229, 7%, 55%);

  /* Body Copy: */
  --body-font-size: 0.875rem;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(../assets/images/bg-mobile.png);
  background-size: cover;
}

label {
  font-size: var(--body-font-size);
  color: var(--neutral-pale-blue);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  width: 20.375rem;
  border-radius: .5rem;
  background-color: var(--neutral-dark-blue);
}

.about-fylo {
  gap: 2rem;
  border-top-right-radius: 5rem;
}
.about-fylo .logo {
  width: 55%;
}
.about-fylo .icons {
  display: flex;
  gap: 1rem;
}
.about-fylo .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--neutral-dark-blue-2);
}

.storage-info {
  padding: 2rem 2.5rem 3rem 2.5rem;
  justify-content: center;
  align-items: center;
}
.storage-info .notice {
  margin-block-end: 1rem;
}
.storage-info meter {
  width: 100%;
}
.storage-info .minmax {
  display: flex;
  justify-content: space-between;
  margin: .75rem 0;
  width: 100%;
  font-size: .75rem;
  font-weight: 700;
}

.info-badge {
  display: flex;
  position: absolute;
  align-items: end;
  padding: 1.4rem 1.625rem;
  gap: .75rem;
  border-radius: .5rem;
  background-color: white;
  transform: translateY(calc(100% + 1rem));
}
.info-badge span {
  margin-block-end: .25rem;
  color: var(--neutral-grayish-blue);
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.info-badge strong {
  color: var(--neutral-dark-blue-2);
  line-height: 24px;
  font-weight: 700;
  font-size: 36px;
}